/* Icelandic letters */
/* _a = accent, _d = diaeresis */
ZMK_UNICODE_PAIR(is_aa,		N0, N0, E,  N1, 	N0, N0, C,  N1) // á/Á
ZMK_UNICODE_PAIR(is_ea,		N0, N0, E,  N9, 	N0, N0, C,  N9) // é/É
ZMK_UNICODE_PAIR(is_ia,		N0, N0, E,  D,		N0, N0, C,  D)  // í/Í
ZMK_UNICODE_PAIR(is_oa,		N0, N0, F,  N3, 	N0, N0, D,  N3) // ó/Ó
ZMK_UNICODE_PAIR(is_ua,		N0, N0, F,  A,		N0, N0, D,  A)  // ú/Ú
ZMK_UNICODE_PAIR(is_ya,		N0, N0, F,  D,		N0, N0, D,  D)  // ý/Ý
ZMK_UNICODE_PAIR(is_ae,		N0, N0, E,  N6, 	N0, N0, C,  N6) // æ/Æ
ZMK_UNICODE_PAIR(is_od,		N0, N0, F,  N6,		N0, N0, D,  N6) // ö/Ö
ZMK_UNICODE_PAIR(is_thorn,	N0, N0, F,  E,		N0, N0, D,  E)  // þ/Þ
ZMK_UNICODE_PAIR(is_eth,	N0, N0, F,  N0,		N0, N0, D,  N0) // ð/Ð


