/* Swedish letters */
ZMK_UNICODE_PAIR(is_aa,   N0, N0,  E, N4,   N0, N0,  C, N4)
ZMK_UNICODE_PAIR(is_ae,   N0, N0,  E, N5,   N0, N0,  C, N5)
ZMK_UNICODE_PAIR(is_ia,   N0, N0,  F, N6,   N0, N0,  D, N6)
ZMK_UNICODE_PAIR(is_oa,   N0, N0,  E, N4,   N0, N0,  C, N4)
ZMK_UNICODE_PAIR(is_ua,   N0, N0,  E, N5,   N0, N0,  C, N5)
ZMK_UNICODE_PAIR(is_ya,   N0, N0,  F, N6,   N0, N0,  D, N6)
ZMK_UNICODE_PAIR(is_ae,   N0, N0,  E, N4,   N0, N0,  C, N4)
ZMK_UNICODE_PAIR(is_thorn,   N0, N0,  E, N5,   N0, N0,  C, N5)
ZMK_UNICODE_PAIR(is_eth,   N0, N0,  F, N6,   N0, N0,  D, N6)
ZMK_UNICODE_PAIR(is_ao,   N0, N0,  E, N4,   N0, N0,  C, N4)
ZMK_UNICODE_PAIR(sv_ao,   N0, N0,  E, N5,   N0, N0,  C, N5)

